<h1><%= @watch_list.name %>'s Unwatched Movies<h1>

<ul>

<% @watch_list_movies.unwatched.each do |unwatched_watch_list_movie| %>
<li>
    <%= form_for [@watch_list, unwatched_watch_list_movie] do |f| %>
   
        <%= link_to unwatched_watch_list_movie.movie.title, movie_path(unwatched_watch_list_movie.movie), class: "text_color" %>
        
        <%= f.hidden_field(:watched, :value => true)  %>
        <%= f.submit "Watched" %>
   
   <% end %>
   <%= form_tag(watch_list_watch_list_movie_path(@watch_list, unwatched_watch_list_movie), method: :delete, style: "inline-block") do %>
            <%= submit_tag "Delete" %>
    <% end %>
   </li>
<% end %>
</ul>

<p>

<h4>Sort by Genre:</h4>

<%= form_tag({}, method: :get) do  %>
    <%= select_tag :genre, options_for_select(Movie.genres, params[:genre]), prompt: "Please select Genre" %>
    <%= submit_tag("Filter") %>
<% end %>
</p>

<div class="options">
    <div class="dropdown">
        <button class="dropbtn" style="color: black;"><strong>Watch List Options</strong>
            <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
            <%= link_to 'Edit Watch List', edit_watch_list_path(@watch_list) %>
            <%= link_to 'Add Watch List Movies', new_watch_list_watch_list_movie_path(@watch_list) %>
        </div>
    </div>
</div>




