<!DOCTYPE html>
<html>
  <head>
    <title>CinemateAppRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
     <%= link_to "Movies", movies_path %>
      <% if user_signed_in? %>
        <%= link_to "Watch Lists", root_path %>
        <%= form_tag(destroy_user_session_path, method: :delete, style: "display: inline-block;") do %>
          <%= submit_tag "Sign Out" %>
        <% end %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
      
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
  </body>
</html>
